[Unit]
Description=remote_jar bundled java service

[Service]
Type=Forking
Environment=LANG=en_US.UTF-8
User=myservice-remote_jar
Group=myservice-remote_jar
WorkingDirectory=/srv/myservice-remote_jar/current
ExecStart=/usr/bin/java -jar /srv/myservice-remote_jar/current/myservice-remote_jar.jar server /srv/myservice-jar/myservice-remote_jar.yml

[Install]
WantedBy=multi-user.target