[Unit]
Description=jar bundled java service

[Service]
Type=Fork
Environment=LANG=en_US.UTF-8
User=myservice-jar
Group=myservice-jar
WorkingDirectory=/srv/myservice-jar/current
ExecStart=/usr/bin/java -jar /srv/myservice-jar/current/myservice-jar.jar server /srv/myservice-jar/myservice-jar.yml

[Install]
WantedBy=multi-user.target