[Unit]
Description=tar.gz bundled java service

[Service]
Type=simple
Environment=LANG=en_US.UTF-8
User=myservice-tgz
Group=myservice-tgz
WorkingDirectory=/srv/myservice-tgz/current
ExecStart=exec java -jar myservice-tgz.jar server myservice-tgz.yml

[Install]
WantedBy=multi-user.target